<footer class="transparent-style text-white pt-5 pb-4 mt-5 ">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
  
        <div class="row">
            <div class="col-4 text-start">
                <h5 class="text-uppercace text-warning"> Main Technologies</h5>
                <p>
                    <i class="bi bi-box-arrow-in-right"> Java</i>
                </p>
                <p>
                    <i class="bi bi-box-arrow-in-right"> Javascript</i>
                </p>
                <p>
                    <i class="bi bi-box-arrow-in-right"> TypeScript</i>
                </p>
                <p>
                    <i class="bi bi-box-arrow-in-right"> Angular</i>
                </p>
                <p>
                    <i class="bi bi-box-arrow-in-right"> React</i>
                </p>           
              </div>
              <!-- <div class="col-3 text-start">
                <h5 class=" mb-4 font-weight-bold text-warning">Products</h5>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">The Providers</a>
                </p>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">The Providers</a>
                </p>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">The Providers</a>
                </p>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">The Providers</a>
                </p>
              </div> -->
              <div class="col-4 text-start">
                <h5 class=" mb-4 font-weight-bold text-warning">Useful links</h5>
                <p>
                  <a href="" class="text-white text-start" style="text-decoration: none;">Services</a>
                </p>
                <p>
                  <a href="" class="text-white text-start" style="text-decoration: none;">My Blog</a>
                </p>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">UI/UX Design</a>
                </p>
                <p>
                  <a href="" class="text-white" style="text-decoration: none;">Brand Style Guide</a>
                </p>
              </div>
              <div class="col-4 text-start">
                <h5 class="mb-4 font-weight-bold text-warning">Contact</h5>
                <p>
                    <i class="bi bi-geo-alt-fill">  Zimbabwe, Bulawayo Mzlikazi</i>
                </p>
                <p>
                    <i class="bi bi-envelope">   donaldmadangure@gmail.com</i>
                </p>
                <p>
                    <i class="bi bi-phone">+263 780 017 047</i>
                </p>
                <p>
                    <i class="bi bi-phone">+263 718 912 617</i>
                </p>
              </div>
        </div>
  
      </div>
      <hr class="mb-4">
      
        <div class="text-center">
          <p>Copyright &copy; 2025 Donald Madangure: All rights reserved            
          </p>
        </div>        
      
    </div>
  </footer>

