  <div class="bg-secondary">
    <div class=" container bg-secondary">  
      <div class="row ">
           <div class="col-sm">
               <h5 class="text-warning mt-4"> Main Technologies</h5>
               <p class="text-white mt-4">
                   <i class="bi bi-filetype-java"> Java</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-filetype-js">  Javascript</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-filetype-tsx">  TypeScript</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-filetype-tsx">  Angular</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-filetype-tsx">  React</i>
               </p>           
             </div>
             
             <div class="col-sm">
               <h5 class=" mb-4 font-weight-bold text-warning mt-4">Knowledge Base</h5>
               <p>
                 <a href="" class="text-white" style="text-decoration: none;">Services</a>
               </p>
               <p>
                 <a href="" class="text-white" style="text-decoration: none;">My Blog</a>
               </p>
               <p>
                 <a href="" class="text-white" style="text-decoration: none;">UI/UX Design</a>
               </p>
               <p>
                 <a href="" class="text-white" style="text-decoration: none;">Brand Style Guide</a>
               </p>
             </div>
             <div class="col-sm">
               <h5 class="mb-4 font-weight-bold text-warning mt-4">Contact</h5>
               <p class="text-white pr-2">
                   <i class="bi bi-geo-alt-fill"> Zimbabwe, Bulawayo Mzlikazi</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-envelope"> donaldmadangure@gmail.com</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-phone"> +263 780 017 047</i>
               </p>
               <p class="text-white">
                   <i class="bi bi-phone"> +263 718 912 617</i>
               </p>
             </div>
       </div>
 
 
     <hr class="mb-4">
     
       <div class="text-center text-white">
         <p>Copyright &copy; 2025 Donald Madangure: All rights reserved            
         </p>
       </div>        
     
   </div>
  </div>



