<div class="container mb-5 mt-5 pt-5">
    <div class="text-center mb-2 mt-5 pt-5 pb-5 bg-light shadow rounded display-5 fs-3">
      <p class="text-dark">Feel free to connect with me on any of the following platforms</p>
    </div>

    <div class="contact container bg-light rounded ">
      <div class="contactInfo">
        <div class="box">
          <div class="icon">  
            <i class="bi bi-geo-alt-fill"></i>         
          </div>    
          <div class="text">
            <h3>Address</h3>
            <p>Bulawayo, Zimbabwe</p>
          </div>     
        </div>
        <div class="box">
          <div class="icon"> 
            <i class="bi bi-telephone-fill"></i>          
          </div>    
          <div class="text">
            <h3>Phone</h3>
            <p>+263 780 017 047</p>
            <p>+263 718 912 617</p>
          </div>     
        </div>
        <div class="box">
          <div class="icon"> 
            <i class="bi bi-envelope"></i>          
          </div>    
          <div class="text">
            <h3>Email</h3>
            <p class="pp">donaldmadangure@gmail.com</p>
          </div>     
        </div>
      </div>
      <div class="contactForm pb-5">
        <p>Bulawayo, Zimbabwe</p>
        <img src="assets/Bulawayo_CBD.jpg" class="pb-4" height="200" width="285">
      </div>
    </div>

  
    <div class="list-group shadow-lg mt-2">      
      <a class="" href="https://www.linkedin.com/in/donald-madangure-314838ba/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="assets/linkedin1.png" alt="" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-2">LinkedIn</h3>
      </a>      
      <a href="https://github.com/donald-madangure" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="assets/github.png" alt="" width="32" height="32" class="rounde-circle flex-shrink-0 me-5">
        <h3 class="mb-2">GitHub</h3>
      </a> 
      <a href="https://www.facebook.com/donald.madangure" target="_blank"  class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="assets/facebook.png" alt="" width="32" height="32" class="rounde-circle flex-shrink-0 me-5">
        <h3 class="mb-2">Facebook</h3>
      </a>   
      
    </div>
  
  </div>
  
  