<div class="container text-center mt-5 pt-5 mb-5">
    <button (click)="DownloadFile()" class="button mb-5 mt-5" style="vertical-align:middle">
        <span>Download</span>
      </button>

        <div class="pb-2">
            <accordion [isAnimated]="true" class="shadow">
                <accordion-group heading="Profile Summery">
                    <ul class="text-start">
                        <p>
                            Frontend Developer with 4+ years of experience building high-performance web applications
                            using Angular, React, and Typescript. Skilled in modern UI frameworks (NG-ZORRO, Bootstrap),
                            DevOps practices (Docker, CI/CD), and collaborative workflows (Git/GitHub). Passionate about
                            crafting pixel-perfect UIs, optimizing workflows.
                        </p>
                    </ul>        
                </accordion-group>
                <accordion-group heading="Technical Skills">
                    <ul class="text-start">
                        <li class="mt-2"><b>Languages</b> : Javascript, Typescript, Java, HTML and CSS3 </li>
                        <li class="mt-2"><b>Frameworks/Liabraries</b> :Angular, React, RxJS, NG-ZORRO, Bootstrap, Tailwind CSS</li>
                        <li class="mt-2"><b>Tools</b> : Git, GitHub Actions, Docker, Webpack, npm</li>
                        <li class="mt-2"><b>Testing</b> : Jest, Cypress, React Testing Liabrary</li>
                        <li class="mt-2"><b>DevOps</b> : CI/CD pipelines (Jenkins, GitHub Actions)</li>
                        <li class="mt-2"><b>APIs</b>: RESTful Services</li>
                        <li class="mt-2"><b>Design</b>: Figma, Responsive Web Design</li>
                    </ul>        
                </accordion-group>
                <accordion-group heading="Professional Experience">
                   <h5><b>Freelance Frontend Developer</b>, <i>Bulawayo, January 2021 - present </i></h5>   
                   <u class="text-start textli pt-3">
                    <li class="mt-2">Built reusable React components with <b>Styled Components and <b>Bootstrap,</b> cutting development time by 30%.</b></li>
                    <li class="mt-2">Containerised frontend apps using <b>Docker</b> and automated deployments via <b>GitHub Actions CI/CD</b>, reducing manual errors by 60%.</li>
                    <li class="mt-2">Collaborated with <b>Java backend professionals (my mentors)</b>, to intergrate REST APIs, ensuring seamless data synchronisation</li>
                    <li class="mt-2">Mentored three induviduals who want to break into tech. on Git best practices and frontend fundumentals </li>
                    <li class="mt-2">Developed more than 10 client-facing SPAs using Angular.</li>
                    <li class="mt-2">Streamlined UI development with <b>NG-ZORRO</b> components, reducing inconsistencies by 35%.</li>
                    <li class="mt-2">Implemented <b>Git workflows</b> (branching strategies, PR reviews) and automated testing pipelines with <b>Cypress</b>.</li>
                    <li class="mt-2">Collaborated on Java-based admin tool, enhancing CRUD operations with <b>Angular</b> and <b>Bootstrap</b>. </li>
                   </u>    
                </accordion-group>
                <accordion-group heading="Key Projects">
                   <h5><b>Healthcare Analytics Dashboard (Angular + Docker)</b></h5>   
                    <ul class="text-start textli pt-3">
                        <li class="mt-2">Built real-time Dashboard using <b>Angular</b>, <b>Ng-Zorro</b>, and <b>RxJS</b> for state management.</li>
                        <li class="mt-2">Containerized the app with <b>Docker</b> and deployed via <b>AWS EC2</b>, achieving 99.9% uptime.</li>
                        <a href=""><b>Live Demo</b></a> <b> | </b><a href=""><b>GitHub</b></a> 
                    </ul>    
                    <h5><b>E-Commerce Platform (React + CI/CD)</b></h5>   
                    <ul class="text-start textli pt-3">
                        <li class="mt-2">Developed a React/TypeScript e-commerce site with <b>Bootstrap</b> for responsive design.</li>
                        <li class="mt-2">Automated testing and deployment using <b>GitHub Actions CI/CD</b>, reducing release cycles from 2 days to 4 hours.</li>
                        <a href=""><b>Live Demo</b></a> <b> | </b><a href=""><b>GitHub</b></a> 
                    </ul>   
                </accordion-group>
                <accordion-group heading="Education">                     
                    <ul class="text-start textli pt-3">
                        <li class="mt-2">Bachelor of Science (Hons.) degree in Information Technology</li>
                        <li class="mt-2"><i>Chinhoyi University of Technology, Chinhoyi, Zimbabwe | Graduated: May 2015</i></li>
                    </ul>                          
                </accordion-group>                
                <accordion-group heading="Additional Information">  
                    <ul class="text-start textli pt-3">
                        <li class="mt-2"><b>Blogging</b>: Wrote tutorials on “Angular + Docker Best Practices” on <a href=""></a></li>
                        <li class="mt-2"><b>Languages</b>: Fluent in English, shona.</li>
                        <li class="mt-2">Strong communication and problem-solving skills with a focus on collaboration.</li>
                        <li class="mt-2">Passionate about keeping up-to-date with the latest technologies and trends.</li>
                    </ul>      
                </accordion-group>
            </accordion>
        </div>
    
</div>

