<div class="container mt-5 pt-5 mb-5">
    <div class="mt-5 pt-5 pb-5 bg-light shadow rounded">
        <div class="container" >
            <div class="container clearfix mb-5">               
                
                <div class="container">
                    <img src="assets/profile-remove.jpg" style="width:300px;height:300x;"
                    class="col-md-6 float-md-end mb-3 ms-md-2
                    rounded-circle img-fluid img-thumbnail"> 
                </div>
                
                <div class="container mt-5 text-start fs-5">                    
                    <i>
                        Skilled in building responsive, intuitive single-page applications using modern frameworks and libraries.
                        Adept at crafting user-friendly interfaces, quickly mastering new technologies, and delivering efficient, 
                        high-quality code aligned with project goals. Eager to apply technical expertise and passion for development in dynamic,
                        challenging environments.
                    </i>                    
                </div>      
                            
            </div>   
           <hr>
            
            <!-- featured projects -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1 mb-5 ">
                    <div class="card shadow-lg">
                        <div class="text-center card-header">
                            <h2 class="display-6 mt-2 mb-2 fs-3 page">Sample Project</h2>
                            <h4 class="display-6 mt-2 mb-2 fs-4 page">{{featuredProject.name}}</h4>
                        </div>
                    
                        <carousel class="card-bordy">
                            <div *ngFor="let picture of featuredProject.pictures">
                                <slide><img src={{picture}} alt="slide" style="display:block; width: 100%;" ></slide>
                            </div>
                        </carousel>
                        <div class="card-footer">
                            <p class="mt-2 display-6 mb-2 fs-6 text-center">
                                {{featuredProject.summery}}
                            </p>
                            <p class="mt-2 display-6 mb-2 fs-6 text-center"> 
                                <a class="page" routerLink="/portfolio" routerLinkActive="text-dark">visit portfolio section to learn more</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 mb-5">
                    <p class="mb-4 mt-2 display-6 page">My Tools and Languages ...</p>
                    <div class="class row">                        
                        <div class="col-4">
                            <img src="assets/javascript.png">
                            <p class="mt-2">Javascript</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/typescript.png" class="img-fluid">
                            <p class="mt-2">Typescript</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/Java.jpg">
                            <p class="mt-2">Java</p>
                        </div>                
                    </div>
                    <div class="class row mt-5">                        
                        <div class="col-4">
                            <img src="assets/angular.png">
                            <p class="mt-2">Angular</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/react.png">
                            <p class="mt-2">React</p>
                        </div>
                        <div class="col-4">                    
                            <img src="assets/ng-zorro.jpg">
                            <p class="mt-2">NG-ZORRO</p>
                        </div>                
                    </div>
                    <div class="class row mt-5">                        
                        <div class="col-4">
                            <img src="assets/Bootstrap.png">
                            <p class="mt-2">Bootstrap</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/tailwind.png">
                            <p class="mt-2">Tailwind</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/git.png">
                            <p class="mt-2">Git</p>
                        </div>                
                    </div>
                    <div class="class row mt-5">                        
                        <div class="col-4">
                            <img src="assets/github.png">
                            <p class="mt-2">Git-Hub</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/docker.jpg">
                            <p class="mt-2">Docker</p>
                        </div>
                        <div class="col-4">
                            <img src="assets/vscode.jpg">
                            <p class="mt-2">Vs-Code</p>
                        </div>                
                    </div>
                </div>
            </div>
        </div>     
        
        </div>
      </div>
</div>





